<ion-header>
  <ion-toolbar>
    <ion-title>
      Exercise1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-user-card
    username="Juan Fernando Caldas"
    profileImage="../../assets/imagen/ImagenPerfil.png"
    additionalInfo="Edad: 17 años, Color de cabellor: Negro, Colegio: Unidad Educatica Tecnico Salesiano">
  </app-user-card>
  <app-user-card
    username="Juan Andres Tenesaca"
    profileImage="../../assets/imagen/ImagenPerfil.png"
    additionalInfo="Edad: 18 años, Color de cabellor: Negro, Colegio: Unidad Educatica Tecnico Salesiano">
  </app-user-card>
</ion-content>
